.wrapper {
  width: 100vw;
  padding: 5vw 10vw;

  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  justify-content: flex-end;

  // Only apply this style if we're not in a list-nav; list-navs insert a
  // li.nav-item which has its own padding. This is probably the wrong way to do
  // this, but I need other code to exist before I do it correctly.
  > a {
    padding: 0 1vw;
  }
}

.social-link {
  img {
    height: 2.5vw;
    width: 2.5vw;
  }
}

.navbar .social-link {
  img {
    height: 1.5vw;
    width: 1.5vw;
  }
}

.publication-date {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 0.5em;

  border: 0.3em solid $green;
  border-radius: 50%;
  aspect-ratio: 1;
}

.publication-date__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height:100%;
}

.publication-date__date_and_month {
  display: inline-block;
  white-space: nowrap;
}

.publication-date__year {
  display: inline-block;
}