$green: #2a5e61;
$light-green: #b3d4ce;

$dark: $green;

$body-color: $green;

$font-family-sans-serif: proxima-nova, -apple-system, BlinkMacSystemFont,
'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$headings-font-weight: bold;
$headings-line-height: 1.2;

$navbar-dark-color: $light-green;
$navbar-dark-hover-color: $light-green;
$navbar-dark-active-color: $light-green;
$navbar-dark-disabled-color: rgba($light-green, .25);

$navbar-padding-y: 0