# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Remix paths
/.cache
/public/build
/build
.env

# These two css files are built from styles, so we don't want to commit them.
# For now, we'll assume any other css files are one-offs and should be
# committed.
/app/root.css
/app/root.css.map

# nx
.nx
nx-cloud.env

# Local Netlify folder
.netlify

