# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Build artifacts
/.cache
/build
/dist
.env

# Compiled CSS is built from styles, so we don't commit it.
/public/root.css
/public/root.css.map

# Local Netlify folder
.netlify

# Lint/test reports
/reports
