.main {
  height: 100%;
}

.article {
  background-color: white;
  padding: 50px;
  overflow: auto;
}

.header-image {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 800px) {
  .article {
    width: 33.333333%;

    z-index: 0;
    height: 100%;
  }

  .header-image {
    min-height: 100%;
    position: fixed;
    width: 100%;
  }

  .header-image-image {
    display: none;
  }

  .main {
    display: flex;
    justify-content: flex-end;
  }
}

.work ul {
  list-style-type: none;
  margin: 0;
}

.education,
.work {
  flex: 1 1 50%;
}

.education ul {
  list-style-type: none;
  margin: 0;
}

.education-and-work {
  display: flex;
}

.social-links {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
